.grid {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    background-color: yellow;    
    position: relative;
    font-size: 200px;
    text-align: center
}

.doodler {
    width: 60px;
    height: 85px;
    background-color: red;
    /* need to find player sprite. make sure to resize it to match w&h of doodler
    /* background-image: url("/images/sd-gundam-chibi.jpg"); */
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}